
body {
	font-family:   'Arvo', "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height:1em;
	background: url('../Images/tail-top.gif') repeat-x left top #1d1d1d;
	color: black;
	min-width: 800px;
}

ul {line-style: none;}
li{display:inline;}
img{
	position:absolute;
	left:150px;
	top:70px;
z-index:-1;
}
#main{
	text-align: center;
	float: center;
	width: 100%;
	margin:auto;
}
#main h1, h2, h3, h4, h5 {
	margin: 10;
	margin: 0px;
    padding: 5px;
    font-family: 'Arvno', serif;
	font-size: 100%;
    font-weight: 400;
    color: black;
}

#header {
	width: 900px;
	height: 60px;
	margin: auto;
	margin-left:
	}

#header h1 {
	margin: auto;
	float: left;
	font-size: 60px;
	letter-spacing: -1px; 
	color: #bfbfbf;
	text-transform: uppercase;
	padding:26px 0 0 47px;
}
#header ul{
	float: right;
	padding:20px 60px 0 0;
}
#header ul li{
	float: left;
	text-transform: uppercase;
	padding-left: 54px;	
}

#header ul li a {
	color: #d72a18;
	text-decoration: none;	
	letter-spacing: 1px;	
	font-weight: bold;
}
#header ul li a:hover {
	color: #919191;
	text-decoration: none;
} 
#header ul li a:active {
	color: #fff;		
}
#main_con {
	width: 1310px;
	margin: auto;
	padding-top: 10px;
}

#top_menu{
	float: center;
	text-align: left;
	width: 900px;
	margin: auto;
	font-size: 20px;
	color: #FFFFFF;
	height: 70px;
	
}

#top_menu li a{
	display: inline-block;
	list-style: none;
	width: 170px;
	height: 20px;
	padding: 15px;
	background-color: #000000;
	border-radius: 5px;
	border-top: #EDEDED;
	text-align: center;
	text-decoration: none;
    color: #FFFFFF;
	margin-right: 5px;
}


#top_menu .current_page a{
		border:2px solid #1d1d1d;
		border-radius: 5px;
		padding: 15px;
        background: #E8E8E8 ;
		color: #d72a18;
}

#top_menu a:hover {
	padding: 15px;
	border-radius: 5px;
	background: #E8E8E8 ;
	text-decoration: none;
	color: #d72a18;
}
#left_menu{
	width: 200px;
	float: left;
	text-align: center;
	display: block;
	
}
#left_menu p{
	font-weight: bold;
}
#left_menu ul{
	margin-top: -80px;
	padding: 5px 10px 10px 10px;
	border: #d72a18;
	border-radius: 10px;
	background: #d72a18;
}
#left_menu ul li a{
	width: 150px;
	padding: 15px;
	list-style:none;
	padding: 15px;
	background-color: #000000;
	border-radius: 5px;
	border-top: #EDEDED;
	text-align: center;
	text-decoration: none;
    color: #FFFFFF;
	margin-bottom: 5px;
	display: list-item;
	text-align: -webkit-match-parent;
}

#left_menu .current_page a{
		border-radius: 5px;
		padding: 15px;
        background: #E8E8E8 ;
		color: #d72a18;
}

#left_menu a:hover {
	padding: 15px;
	border-radius: 5px;
	background: #E8E8E8 ;
	text-decoration: none;
	color: #d72a18;
}

#content{
	width: 900px;
	margin: -80px auto;
	padding-top: 80px;
	height: 800px;
	border-radius: 10px;
	background-image: url('../Images/banner-bg.gif');
	background-repeat: no-repeat;
	background-position: center top; 
	background-size: 100% 800px;
	color: black;
	float: center; 
}
#seats{
	text-size: 10px;
	margin: auto;
	width: 80%;
}
table.center{
	padding: 0px;
	margin: 0;
	margin-left:auto;
	margin-right:auto;
	
}
button.seats_disabled{
	width: 20px;
	height: 20px;
}
button.seats_is{
	width: 20px;
	height: 20px;
}
button.next{
	float: right;
	font-size: 20px;
}
button#add_show{
	float: right;
	font-size: 20px;
}
#movie_list{
	margin-left: 20px;
	float: left;
	padding: 10px;
}
#add_movie{
	margin-right: 20px;
	float: right;
	padding: 10px;
	border: black;
	border-radius: 5px;
}
table.left{
	text-align: left;
	margin-left: 10px;
	margin-right:auto;
}
table.right{
	margin-right: 10px;
	margin-left: auto;
}
button.choice{
	background-color: green;
}
button.occupied{
	background-color: red;
}

#footer{
	padding-top: 10px;
	width: 900px;
	height: 20px;
	font-size: 15px;
	color: white;
	float: center;
	margin: auto;
	text-align: center;
}


