@import url('font-awesome.css');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
}

body {
	font-family:   'Arvo', "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height:1em;
	background: url('../Images/tail-top.gif') repeat-x left top #1d1d1d;
	color: black;
	min-width: 800px;
	font-size: 18px;
}
img{
	float: left;
	position: relative;
	padding: 10px;
}
img.im_small{
	width: 80px;
	height: auto;
	float: left;
	position: relative;
	padding: 10px;
}
li{display:inline;}

a{background-color: transparent; text-align: center; text-decoration: underline; color: green};

#main{
	text-align: center;
	float: center;
	width: 100%;
	margin:auto;
}
#main h1 {
	text-align: center;
	margin: 1px;
    padding: 5px;
    font-family: 'Arvno', serif;
	font-size: 30px;
    font-weight: 400;
    color: #198a40;
    text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}
#main h5 {
	text-align: left;
	margin: 1px;
    padding: 5px;
    font-family: 'Arvno', serif;
	font-size: 30px;
    font-weight: 400;
    color: #198a40;
    text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

#main h2 {
	margin: 1px;
    padding: 5px;
    font-family: 'Arvno', serif;
	font-size: 25px;
    font-weight: 400;
    color: black;
}
#main h3 {
	margin: 1px;
    padding: 5px;
    font-family: 'Arvno', serif;
	font-size: 20px;
    font-weight: 400;
    color: black;
}
#main h4 {
	text-align: left;
	margin: 1px;
    padding: 5px;
    font-family: 'Arvno', serif;
	font-size: 30px;
    font-weight: 400;
    color: #198a40;
    text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}
#header {
	width: 900px;
	height: 60px;
	margin: auto;
	}

#header h1 {
	margin: auto;
	float: left;
	font-size: 60px;
	letter-spacing: -1px; 
	color: #bfbfbf;
	text-transform: uppercase;
	padding:26px 0 0 47px;
}
#header ul{
	float: right;
	padding:20px 60px 0 0;
}
#header ul li{
	float: left;
	text-transform: uppercase;
	padding-left: 54px;	
}

#header ul li a {
	color: #d72a18;
	text-decoration: none;	
	letter-spacing: 1px;	
	font-weight: bold;
}
#header ul li a:hover {
	color: #919191;
	text-decoration: none;
} 
#header ul li a:active {
	color: #fff;		
}
#main_con {
	width: 1310px;
	margin: auto;
	padding-top: 10px;
}

#content{
	width: 900px;
	margin: auto;
	height: 900px;
	padding-top: 10px;
	border-radius: 10px;
	background-image: url('../Images/banner-bg.gif');
	background-repeat: no-repeat;
	background-position: center top; 
	background-size: 100% 900px;
	color: black;
	float: center; 
}
#main_content{
	margin: auto;
	padding: 0px 50px 5px 50px;
	float:center;
}

#top_menu{
	float: center;
	text-align: left;
	margin: auto;
	font-size: 20px;
	color: #FFFFFF;
	height: 70px;
	
}

#top_menu li a{
	list-style: none;
	width: 170px;
	height: 20px;
	padding: 15px;
	background-color: #000000;
	border-radius: 5px;
	border-top: #EDEDED;
	text-align: center;
	text-decoration: none;
    color: #FFFFFF;
	margin-right: 5px;
}


#top_menu .current_page a{
		border:2px solid #1d1d1d;
		border-radius: 5px;
		padding: 15px;
        background: #E8E8E8 ;
		color: #d72a18;
}

#top_menu a:hover {
	padding: 15px;
	border-radius: 5px;
	background: #E8E8E8 ;
	text-decoration: none;
	color: #d72a18;
}
#left_menu{
	margin-top: -18px;
	height: 800px;
	width: 200px;
	float: left;
	text-align: center;
	
}
#left_menu p{
	font-weight: bold;
}
#left_menu ul{
	padding: 5px 5px 5px 25px;
	border: #d72a18;
	border-radius: 10px;
	background: #d72a18;
}
#left_menu ul li a{
	width: 150px;
	padding: 15px;
	list-style:none;
	padding: 15px;
	background-color: #000000;
	border-radius: 5px;
	border-top: #EDEDED;
	text-align: center;
	text-decoration: none;
    color: #FFFFFF;
	margin-bottom: 5px;
	display: list-item;
	text-align: -webkit-match-parent;
}

#left_menu .current_page a{
		border-radius: 5px;
		padding: 15px;
        background: #E8E8E8 ;
		color: #d72a18;
}

#left_menu a:hover {
	padding: 15px;
	border-radius: 5px;
	background: #E8E8E8 ;
	text-decoration: none;
	color: #d72a18;
}
select.wybor{
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url('../Images/arrow.png'), 
   -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  margin: auto;
  color: #555;
  font-size: 25px;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 300px;
  }
select.wybor:focus {
    outline: 0 none !important;
}
select.wybor_small{
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url('../Images/arrow.png'), 
   -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  margin: auto;
  color: #555;
  font-size: 15px;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 150px;
  }

#seats{
	text-size: 10px;
	margin: auto;
	width: 80%;
}
button.seats_disabled{
	width: 25px;
	height: 25px;
	background-color: transparent;
	border: transparent;
	cursor: default;
}
button.seats_is{
	width: 25px;
	height: 25px;
	cursor: pointer;
}
button.next{
	float: right;
	font-size: 20px;
}
button#add_show{
	float: right;
	font-size: 20px;
}
.right{
	margin-left: 20px;
	float: left;
}
#add_movie{
	margin-right: 20px;
	float: right;
	padding: 10px;
	border: black;
	border-radius: 5px;
}
table.center{
	padding: 5px;
	margin: 0;
	margin-left:auto;
	margin-right:auto;
}
.center td, tr{
	padding: 5px 10px 3px 1px;
	vertical-align: middle;
	margin: auto;
}
a.remove { color: #d72a18; text-decoration: none;}
table.room-table{
	margin: 0;
	margin-left:auto;
	margin-right:auto;
}
.room-table td{
	margin: 0;
	text-align: center;
}
table.register{
	padding: 0px;
	margin: 0;
	margin-left:auto;
	margin-right:auto;
	
}
table.top{
	padding: 0px;
	margin: 0;
	margin-left:auto;
	margin-right:auto;
	
}
table.left{
	padding: 10px;
	float: center;
}
.left td{
	padding: 0px 1px 10px 1px;
}
table.right{
	border: solid 7px black;
	margin-right: 60px;
	margin-left: auto;
}
table.center_two_colors{
	font-size: 20px;
	padding: 15px;
	border: solid 7px black;
	margin: 0;
	margin-left:auto;
	margin-right:auto;
}
.center_two_colors th{
	padding-bottom: 10px;
	padding-right: 10px;
	font-family: 'Arvno', serif;
	font-size: 20px;
}
button.available{
	margin: 1px;
	height: 25px;
	width: 25px;
	background: rgb(0, 128, 0);
	border-radius: 6px;
	border: 1px solid #000000;
	cursor: cursor;
	cursor: pointer;
}
button.occupied{
	margin: 1px;
	height: 25px;
	width: 25px;
	background: #d72a18;
	border-radius: 6px;
	border: 1px solid #000000;
}
button.choice{
	margin: 1px;
	height: 25px;
	width: 25px;
	background: rgb(250, 195, 30);
	border-radius: 6px;
	border: 1px solid #000000;
}
button.next{
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	color: #ffffff;
	padding: 7px 18px;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #000000;
	cursor: pointer;
}
button.next:hover{
	background: -moz-linear-gradient(
		top,
		#000000 0%,
		#242424 50%,
		#3b3b3b 50%,
		#a3a3a3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#000000),
		color-stop(0.50, #242424),
		color-stop(0.50, #3b3b3b),
		to(#a3a3a3));
	color: green;
}
button.next_small{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	padding: 3px 8px;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#3b3b3b 50%,
		#242424 50%,
		#000000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		color-stop(0.50, #3b3b3b),
		color-stop(0.50, #242424),
		to(#000000));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	cursor: pointer;
}
button.next_small:hover{
	background: -moz-linear-gradient(
		top,
		#000000 0%,
		#242424 50%,
		#3b3b3b 50%,
		#a3a3a3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#000000),
		color-stop(0.50, #242424),
		color-stop(0.50, #3b3b3b),
		to(#a3a3a3));
	color: green;
}

#footer{
	padding-top: 10px;
	width: 900px;
	height: 20px;
	font-size: 15px;
	color: white;
	float: center;
	margin: auto;
	text-align: center;
}

div#hours{
	display: inline;
}

.form-1 {
    /* Size & position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form-1 input[type=text],
.form-1 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.form-1 input[type=text] {
    margin-bottom: 10px;
}

.form-1 input[type=text]:hover ~ i,
.form-1 input[type=password]:hover ~ i {
    color: #d72a18;
}

.form-1 input[type=text]:focus ~ i,
.form-1 input[type=password]:focus ~ i {
    color: #d72a18;
}

.form-1 input[type=text]:focus,
.form-1 input[type=password]:focus,
.form-1 button[type=submit]:focus {
    outline: none;
}

.form-1 .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    top: 17px;
    right: -25px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}

.form-1 .submit:after {
    /* Size and position */
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;

    /* Styles */
    background: #ffffff;
    
    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}

.form-1 button {
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;

    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;

    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: #d72a18; 
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);

    cursor: pointer;
}

.form-1 button:hover,
.form-1 button[type=submit]:focus {
    background: green;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-1 button:active {
    background: #42A2BC;
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.3),
        inset 0 3px 4px rgba(0,0,0,0.3);
}
#register-form {
    background: #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 25px 60px;   
    margin: auto;
    overflow: hidden;
    padding-top: 18px;
    width: 350px;
    box-shadow: 
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);
}

#register-form fieldset {
	border: none;
	}

#register-form fieldset > ul {
    margin: 6px 0 12px;
    padding-top: 12px;
}

#register-form fieldset > ul > li {
    overflow: hidden;
    padding: 6px 2px;
    line-height: 24px;
}

#register-form fieldset > ul > li > label, 
.frm-label {
    display:  block;
    margin: 0 10px 0 0;
    width: 200px;
}

#register-form label {
    cursor: pointer;
    font-size: 18px;
}

#register-form input:focus, 
#register-form button:focus, 
#register-form select:focus, 
#register-form textarea:focus {
    outline: 0 none !important;
}

#register-form input[type="email"], 
#register-form input[type="text"], 
#register-form input[type="tel"], 
#register-form input[type="password"], 
#register-form select, 
#register-form textarea {
    border: 1px solid #ccc;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    display: inline-block;
    float: left;
    font-size: 17px;
    padding: 2px;
    margin: 0;    
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  vertical-align: baseline;
  width: 250px;
}

#register-form select {
    width: 260px;
}

#register-form input[type="email"], 
#register-form input[type="text"], 
#register-form input[type="tel"], 
#register-form input[type="password"], 
#register-form textarea {
    padding: 3px 4px;
}

#register-form textarea {
    height: 72px;
    min-height: 72px;
    min-width: 250px;
    max-width: 400px;
    overflow: auto;
}
#register-form input[type="email"]:focus, 
#register-form input[type="text"]:focus, 
#register-form input[type="tel"]:focus, 
#register-form input[type="password"]:focus, 
#register-form textarea:focus {
  border-color: #1E90FF;
  -khtml-box-shadow: 0 0 4px #1E90FF;
  -moz-box-shadow: 0 0 4px #1E90FF;
  -webkit-box-shadow: 0 0 4px #1E90FF;
  box-shadow: 0 0 4px #1E90FF;
  color:  #444;
}

#register-form button[type="submit"], button[type="reset"] {
    -webkit-appearance: button;
    background-color: #0f467c; 
    background-image: -o-linear-gradient(bottom, rgb(15,70,124) 0%, rgb(30,143,255) 50%);
    background-image: -moz-linear-gradient(bottom, rgb(15,70,124) 0%, rgb(30,143,255) 50%);
    background-image: -ms-linear-gradient(bottom, rgb(15,70,124) 0%, rgb(30,143,255) 50%);
    background-image: -webkit-linear-gradient(bottom, rgb(15,70,124) 0%, rgb(30,143,255) 50%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(15,70,124)),
        color-stop(0.5, rgb(30,143,255))
    );
    background-image: linear-gradient(bottom, rgb(15,70,124) 0%, rgb(30,143,255) 50%);
    border: 1px solid #0f467c;
    color: #fff !important;    
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    display: inline-block;
    font: bold 13px/18px Calibri, 'Helvetica Neu', Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 5px 18px 4px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.75);
    text-transform: uppercase;
    vertical-align: middle;
    width: auto;
}

#register-form button[type="submit"], button[type="reset"]:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}

#register-form button[type="submit"]:active {
    top: 1px;
    left: 1px;
}

#register-form button[type="submit"]:hover {
    background: #082644 none;
}
#register-form button[type="reset"]:hover {
    background: #082644 none;
}

.form{
    width: 300px;
    margin: auto;
    padding: 15px;
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 10px;
    border: 3px solid black;
    background: white;
}
select.form{
	   width: 260px;
}
.form-two{
    margin: auto 50px auto auto;
    padding: 15px;
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 10px;
    border: 3px solid black;
    background: white;
    overflow: hidden;
    width: 320px;
}

.form-two input:focus, 
.form-two button:focus, 
.form-two select:focus, 
.form-two textarea:focus {
    outline: 0 none !important;
}

.form-two input,
.form-two select, 
.form-two textarea {
    border: 1px solid #ccc;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    display: inline-block;
    float: left;
    font-size: 17px;
    margin: 0;    
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  vertical-align: baseline;
  width: 250px;
}

.form-two select {
    width: 250px;
}

.form-two input,
.form-two textarea {
    padding: 3px 4px;
}

.form-two textarea {
    height: 72px;
    min-height: 72px;
    min-width: 250px;
    max-width: 400px;
    overflow: auto;
}
.form-two input:focus,
.form-two textarea:focus {
  border-color: #d72a18;
  -khtml-box-shadow: 0 0 4px #d72a18;
  -moz-box-shadow: 0 0 4px #d72a18;
  -webkit-box-shadow: 0 0 4px #d72a18;
  box-shadow: 0 0 4px #d72a18;
  color:  #444;
}
.form-two label {
	display: block;
    cursor: pointer;
    font-size: 18px;
	padding-top: 10px;
	width: auto;
}
.form-two fieldset{
	border-radius: 5px;
	border: 1px solid black;	
}
.form-two input[type="radio"]{
	width: 20px;
	heigth: 20px;
	padding: 0 5px 0 0px;
	clear: left;
	float: center; 
	text-align: center;
}
#center.form-two{
	margin: auto;
}

#show-form1.form-two{
	margin: auto;
}
#left.form{
	float: left;
	text-align: center;
}

