
body {
	font-family:   'Arvo', "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height:1em;
	background: url('../Images/tail-top.gif') repeat-x left top #1d1d1d;
	color: #bfbfbf;
}

#main ul {line-style: none;}
#main li{display:inline;}
#main{
	text-align: center;
	float: center;
	width: 100%;
	margin:auto;
}
#main h1, h2, h3, h4, h5 {
	margin: 10;
	margin: 0px;
    padding: 5px;
    font-family: 'Arvno', serif;
	font-size: 100%;
    font-weight: 400;
    color: #bfbfbf;
}

#header {
	width: 800px;
	height: 70px;
	margin: auto;
	}

#header h1 {
	margin: auto;
	float: left;
	font-size: 60px;
	letter-spacing: -1px; 
	color: #bfbfbf;
	text-transform: uppercase;
	padding:26px 0 0 47px;
}
#header ul{
	float: right;
	padding:20px 60px 0 0;
}
#header ul li{
	float: left;
	text-transform: uppercase;
	padding-left: 54px;	
}

#header ul li a {
	color: #d72a18;
	text-decoration: none;	
	letter-spacing: 1px;	
	font-weight: bold;
}
#header ul li a:hover {
	color: #919191;
	text-decoration: none;
} 
#header ul li a:active {
	color: #fff;		
}

#top_menu{
	float: center;
	text-align: left;
	width: 800px;
	height: 70px;
	margin: auto;
	font-size: 20px;
	color: #FFFFFF;
	height: 70px;
	
}

#top_menu ul li a{
	display: inline-block;
	list-style: none;
	width: 150px;
	height: 20px;
	padding: 15px;
	background-color: #000000;
	border-radius: 5px;
	border-top: #EDEDED;
	text-align: center;
	text-decoration: none;
    color: #FFFFFF;
	margin-right: 5px;
}


#top_menu .current_page a{
		border-radius: 5px;
		padding: 15px;
        background: #E8E8E8 ;
		color: #d72a18;
}

#top_menu a:hover {
	padding: 15px;
	border-radius: 5px;
	background: #E8E8E8 ;
	text-decoration: none;
	color: #d72a18;
}
#right_menu{
	width: 14%;
	font-size: 20px;
	color: #FFFFFF;
	float: left;
	margin-left: 13%;
	margin-right: 73%;
	text-align: center;
	display: block;
}

#right_menu ul li a{
	width: 150px;
	padding: 15px;
	list-style:none;
	padding: 15px;
	background-color: #000000;
	border-radius: 5px;
	border-top: #EDEDED;
	text-align: center;
	text-decoration: none;
    color: #FFFFFF;
	margin-bottom: 5px;
	margin-right: 800px;
	display: list-item;
	text-align: -webkit-match-parent;
}

#right_menu .current_page a{
		border-radius: 5px;
		padding: 15px;
        background: #E8E8E8 ;
		color: #d72a18;
}

#right_menu a:hover {
	padding: 15px;
	border-radius: 5px;
	background: #E8E8E8 ;
	text-decoration: none;
	color: #d72a18;
}

#content{
/* 	background: #E8E8E8 ; */
	color: #bfbfbf;
	width: 800px;
	height: 1200px;
	overflow: hidden;
	padding: 10px 0px 20px 0px;
	margin:  auto;
	float: center;
}
#seats{
	text-size: 10px;
	margin: auto;
	width: 80%;
}
#seats table.center{
	padding: 0px;
	margin: 0;
	
}
button.seats_disabled{
	width: 20px;
	height: 20px;
}
button.seats_is{
	width: 20px;
	height: 20px;
}
button.next{
	float: right;
	font-size: 20px;
}
button#add_show{
	float: right;
	font-size: 20px;
}

table.left{
	text-align: left;
	margin-left:auto;
	margin-right:auto;
}
button.choice{
	background-color: green;
}
button.occupied{
	background-color: red;
}


